<br>
<br>
<div class="card-group">
  <div class="card" style="width: 23rem;">
    <div class="card-body">
      <h1 class="card-title">Administrar vehiculos</h1>
      <img src="../assets/images/parking.png" class="card-img-top" alt="Vehiculo de parqueo">
      <ul>
        <li class="card-text">Registrar</li>
        <li class="card-text">Consultar</li>
        <li class="card-text">Modificar </li>
        <li class="card-text">Eliminar</li>
        <br>
        <a href="/vehiculo" class="btn btn-primary" id = "linkVehiculoHome">¡VAMOS!</a>
      </ul>
   
    </div>
  </div>
    <div class="card" style="width: 23rem;">
      <div class="card-body">
        <h1 class="card-title">TRM de hoy</h1>
        <br>
        <br>
        <br>
        <img src="../assets/images/dolar.jpg" class="card-img-top" alt="Vehiculo de parqueo">
        <br>
        <br>
        <app-trm></app-trm>
      </div>
    </div>
  <div class="card" style="width: 23rem;">
    <div class="card-body">
      <h1 class="card-title">Administrar pagos</h1>
      <br>
      <br>
      <img src="../assets/images/facturacion.jpg" class="card-img-top" alt="Vehiculo de parqueo">
      <ul>
        <br>
        <br>
        <li class="card-text">Registrar</li>
        <li class="card-text">Consultar</li>
        <li class="card-text">Generar valora pagar</li>
        <br>
        <br>
        <br>
        <a href="/factura" class="btn btn-primary" id = "linkFacturaHome">¡VAMOS!</a>
      </ul>
    </div>
  </div>
</div>