
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a id="linkListarVehiculo" class="nav-link active" aria-current="page" routerLink="./listar"
          routerLinkActive="active">Listar vehiculos</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a  id="linkCrearVehiculo"  class="nav-link active" aria-current="page"routerLink="./crear"
          routerLinkActive="active">Crear vehiculo</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a id="linkActualizarVehiculo" class="nav-link active" aria-current="page" routerLink="./actualizar"
          routerLinkActive="active">Buscar y actualizar vehiculo</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a id="linkEliminarVehiculo" class="nav-link active" aria-current="page" routerLink="./eliminar"
          routerLinkActive="active">eliminar vehiculo</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>