label {
    font-size: x-large;
    font-family: "Times New Roman", Times, serif;
  }

  .btn-primary{
    height:50px; 
    width:200px; 
    position:relative;
    top:20%; 
    left:25%;
    text-align:center;
    font-weight: bold;
    font-size: 130%;
    background-color: red; 
    border-color: red;
}
